<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.proven.business.dao.SessionViewMapper" >
  <resultMap id="BaseResultMap" type="com.proven.business.model.SessionView" >
    <!--
      WARNING - @mbggenerated
    -->
    <result column="session_key" property="sessionKey" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="logon_duration" property="logonDuration" jdbcType="INTEGER" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="exit_code" property="exitCode" jdbcType="VARCHAR" />
    <result column="failure_date" property="failureDate" jdbcType="TIMESTAMP" />
    <result column="connection_state" property="connectionState" jdbcType="VARCHAR" />
    <result column="connection_state_change_date" property="connectionStateChangeDate" jdbcType="TIMESTAMP" />
    <result column="life_cycle_state" property="lifeCycleState" jdbcType="VARCHAR" />
    <result column="current_connection_id" property="currentConnectionId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="machine_id" property="machineId" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="modified_date" property="modifiedDate" jdbcType="TIMESTAMP" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="machine_name" property="machineName" jdbcType="VARCHAR" />
    <result column="computer_name" property="computerName" jdbcType="VARCHAR" />
    <result column="desktop_group_id" property="desktopGroupId" jdbcType="VARCHAR" />
    <result column="time_diff" property="timeDiff" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectAllOrderByEndDate" resultMap="BaseResultMap">
  select * from t_v_session order by end_date ASC,start_date DESC
  </select>
  <select id="selectByPassTime" resultMap="BaseResultMap">
   select * from t_v_session where start_date>= DATE_FORMAT(#{date},'%Y-%m-%d %H:%i:%s') order by end_date ASC,start_date DESC
  </select>
  
   <select id="selectByDeskgroupIdAndPassTime" resultMap="BaseResultMap">
   select * from t_v_session where start_date>= DATE_FORMAT(#{date},'%Y-%m-%d %H:%i:%s') and desktop_group_id=#{deskGroupId} order by end_date ASC,start_date DESC
  </select>
  
  
</mapper>